/* Dialog.css */
.chat-title-enter {
    opacity: 0;
}
.chat-title-enter-active {
    opacity: 1;
    transition: opacity 3000ms;
}
.chat-title-exit {
    opacity: 1;
}
.chat-title-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

/* Dialog.css */
.source-documents-enter {
    opacity: 0;
}
.source-documents-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
}
.source-documents-exit {
    opacity: 1;
}
.source-documents-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}