.markdown-body pre {
    padding: 0 !important;
    overflow: visible !important;
    font-size: inherit !important;
    line-height: inherit !important;
    background-color: transparent !important;
    border-radius: 0 !important;
}

.markdown-body pre code {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: visible !important;
    line-height: inherit !important;
    word-wrap: normal !important;
    background-color: transparent !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.markdown-body code {
    padding: 0 !important;
    margin: 0 !important;
    font-size: inherit !important;
    background-color: transparent !important;
    border-radius: 0 !important;
}